:root {
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}
$color-dull-orange: #e17334;
$color-white-Two: #ffffff;
$color-gunmetal: #54585a;
$color-dirty-blue: #438792;
$color-darkgreen-blue: #114e4e;
$color-hospital-green: #a2deaf;
$color-dark-green-blue: #114e4e;
$color-brownish-grey: #6b6b6b;
$color-dried-blood: #420101;
$color-rusty-red: #bd1010;
$color-tomato: #e95626;
$color-slate: #3e5b65;
$color-faded-orange: #eab052;
$color-light-grey-blue: #a0c0cf;
$color-white-Three: #d8d8d8;
$color-silver: #bfcdd0;
$color-pale-grey: #dde9ed;
$color-white: #d5d5d5;
$color-azure: #00a0f5;
$color-white-four: #f5f5f5;
