.footer {
    background-color: $color-white-Two;
    text-align: center;
}

.footer_text {
    font-size: 0.875rem;
    color: $color-brownish-grey;
    opacity: 0.5;
    line-height: 1.43;
}

.footer_img {
    width: 103px;
    height: 40px;
}