.fill__box {
    display: flex;
    flex-direction: column;
    margin-right: 19px;
    margin-top: 10px;
    border-bottom: 1px solid $color-white-Three;
    padding-bottom: 30px;
} 

.fill__icon {
    width: 25px;
    height: 25px;

    color:$color-dull-orange;
}

.fill__title {
    width: 100%;

    font-size: 1.2rem;
    font-weight: 600;

    text-transform: uppercase;
}

.fill_arrow {
    cursor: pointer;
}

.fill__heading {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $color-gunmetal;

    border-bottom: 1px solid $color-white-Three;
    padding-bottom: 10px;

    gap: 10px;
}

.fill__img {
    display: flex;
    flex-direction: row;

    margin-top: 7px;

    gap: 20px;
}

.add__image {
    width: 140px;
    height: 30px;

    font-size: 0.8rem;

    padding: 7px 22px 7px;

    color: $color-white-Two;
    background-color: $color-dull-orange;

    cursor: pointer;
}

.fill__square {
    width: 30px;
    height: 30px;

    border: 1px solid $color-hospital-green;
}

.fill__label {
    font-size: 0.8rem;
    line-height: 1.25rem;

    margin-top: 20px;

    color: $color-dark-green-blue;
}

.fill__input {
    height: 30px;

    font-family: $font-opensans;
    font-size: 0.8rem;
    
    padding-left: 9px;
    margin-top: 7px;
    border: 1px solid $color-hospital-green;

    outline: none;
}

input:focus {
    background-color: $color-placeholder;
    color: $color-value-input;

    border:none;
}

::placeholder {
    color: $color-pinkish-grey; 
}

.input_image {
    display: none;
}