.iconShare {
    color: $color-dull-orange;
    height: 18px;
    width: 16px;
}

.arrow {
    color: $color-gunmetal;
    cursor: pointer; 
}

.shareText {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 8px;
    width: 100%;
    color: $color-gunmetal;
}

.createCardBtn {
    font-size: 18px;
    height: 50px;
    width: 199px;
    background-color: $color-dull-orange;
    color: $color-white-Two;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    cursor: pointer;
}

.flexBtn {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createCardText {
    padding-left: 10px;
}

.sectionShare {
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
    width: 88%; 
        @media (min-width: 768px) {
            width: 90%;
    }    
    align-items: center;

}

.separator {
    border-bottom: 1px solid $color-white-Three;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.separator2 {
    border-top: 1px solid $color-white-Three; 
    margin-top: 20px;
}

.cardText {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 30px;
    color:$color-gunmetal
}



.cardUrl {
    color: $color-dull-orange;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.twitterBtn {
    background-color: $color-azure;
    width: 170px;
    height: 30px;
    margin-top: 20px;
    margin-left: 60px; 
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.twitterBird {
    color: $color-white-Two;
}

.link {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: $color-white-Two;
}

.createCardBtn:disabled {
    background-color: $color-brownish-grey;
}

/* .hidden {
    display: none;
    
} */