<fieldset class="design">
    <div class="design_header">
        <i class="icon_img fa-regular fa-object-ungroup"></i>
        <legend class="design_title">Diseña</legend>
        <i class="fa-solid fa-chevron-down design_arrow"></i>
    </div>
    <div class="design_palettes">
        <legend class="design_palettes_legend">Colores</legend>
        <div class="design_palettes_wrap">
            <div class="palette_wrap js__paletteWrap">
                <input class="design_palette_radio" type="radio" id="html" name="fav_language" value="HTML">
                <span class="design_palette_object">
                    <span class="design_palette_element" style="background-color: #114e4e;"></span>
                    <span class="design_palette_element" style="background-color: #438792;"></span>
                    <span class="design_palette_element" style="background-color: #a2deaf;"></span>
                </span>
            </div>
            <div class="palette_wrap js__paletteWrap">
                <input class="design_palette_radio" type="radio" id="html" name="fav_language" value="HTML">
                <span class="design_palette_object">
                    <span class="design_palette_element" style="background-color: #420101;"></span>
                    <span class="design_palette_element" style="background-color: #bd1010;"></span>
                    <span class="design_palette_element" style="background-color: #e95626;"></span>
                </span>
            </div>
            <div class="palette_wrap js__paletteWrap">
                <input class="design_palette_radio" type="radio" id="html" name="fav_language" value="HTML">
                <span class="design_palette_object">
                    <span class="design_palette_element" style="background-color: #3e5b65;"></span>
                    <span class="design_palette_element" style="background-color: #eab052;"></span>
                    <span class="design_palette_element" style="background-color: #a0c0cf;"></span>
                </span>
            </div>
        </div>
    </div>
    <span class="palette_bottom_line"></span>

</fieldset>