<div>
<h2>RELLENA</h2>
</div>

<form class="form">
  <label class="form_label">Nombre Completo:</label>
  <input class="form_input" type="text" name="name" placeholder="Ej: Sally Jill">

  <label class="form_label">Puesto</label>
  <input class="form_input" type="text" name="puesto" placeholder="Front-end unicorn">
  
  <label class="form_label">Imagen de perfil</label>
  <div class="form_img">
    <button class="btn">Añadir Imagen</button> <p>cuadrado</p>
  </div>

  <label class="form_label">Email</label>
  <input class="form_input" type="text" name="email" placeholder="Ej: sally-hill@gmail.com">

  <label class="form_label">Teléfono</label>
  <input class="form_input" type="text" name="telefono" placeholder="Ej: 555-55-55-55n">

  <label class="form_label">Linkedin</label>
  <input class="form_input" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill">

  <label class="form_label">Github</label>
  <input class="form_input" type="text" name="github" placeholder="Ej: @sally-hill">
</form>