<main class="landing_page_main">
    <h1 class="landing_page_title">Crea tu tarjeta de visita</h1>
    <p class="landing_page_text landing_page_subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <section class="icons_container">
        <div class="one_icon_container">
            <i class="icon_img fa-regular fa-object-ungroup"></i>
            <p class="landing_page_text icon_text">Diseña</p>
        </div>
        <div class="one_icon_container">
            <i class="icon_img fa-regular fa-keyboard"></i>
            <p class="landing_page_text icon_text">Rellena</p>
        </div>
        <div class="one_icon_container">
            <i class="icon_img fa-solid fa-share-nodes"></i>
            <p class="landing_page_text icon_text">Comparte</p>
        </div>
    </section>
    <section class="landing_page_button">
        <a href="./create.html" class="button_anchor">Comenzar</a>
    </section>
</main>