<div class="preview">
    <div class="preview_btn">
        <button class="reset_btn js__resetBtn">
            <i class="fa-regular fa-trash-can reset_btn--icon"></i>
            <span class="reset_btn--text">Reset</span>
        </button>
    </div>    
    <div class="preview_card js__previewCard palette1">
        <div class="preview_info">
            <h3 class="info_name js__namePreview">Nombre Apellido</h3>
            <p class="info_job js__jobPreview">Front-end developer</p>
            <img class="info_img js__profile-image" src="./images/img_prueba_preview.jpg" alt="">
        
            <nav class="preview_contact">
                <a href="" class="preview_contact--link js__previewTlf js__icon" target="_blank"><i class="fa-solid fa-mobile-screen-button preview_contact--icon"></i></a>
                <a href="" class="preview_contact--link js__previewMail" target="_blank"><i class="fa-regular fa-envelope preview_contact--icon"></i></a>
                <a href="" class="preview_contact--link js__previewLinkedin" target="_blank"><i class="fa-brands fa-linkedin-in preview_contact--icon"></i></a>
                <a href="" class="preview_contact--link js__previewGithub" target="_blank"><i class="fa-brands fa-github-alt preview_contact--icon"></i></a>
            </nav>
        </div>    
    </div>
</div>