<fieldset>
    <legend class="sectionShare">
    <i class="fa-solid fa-share-nodes iconShare"></i> 
    <h2 class="shareText">COMPARTE</h2> 
    <i class="fa-solid fa-chevron-up arrow"></i>
    </legend>
    <div class="flexBtn separator">
    
    <button class="createCardBtn"><i class="fa-regular fa-address-card iconCard"></i><span class="createCardText">CREAR TARJETA</span></button>
    <div class="hidden separator2">
        <p class="cardText"> La tarjeta ha sido creada: </p>
        <p class="cardUrl">https://awesome-profile-card.com?id=A456DF0001</p>
        <p class="twitterBtn"><i class="fa-brands fa-twitter twitterBird"></i><a href="https://x.com/?lang=es" class="link">Compartir en twitter</a></p>
    </div>
    </div>
</fieldset>

