<fieldset class="share collapsed">
    <legend class="sectionShare js_fieldset">
        <i class="fa-solid fa-share-nodes iconShare"></i> 
        <h2 class="shareText">COMPARTE</h2> 
        <i class="fa-solid fa-chevron-up arrow rotated"></i>
    </legend>
    <div class="flexBtn content">
        <button class="createCardBtn js_createCardBtn">
            <i class="fa-regular fa-address-card"></i>
            <span class="createCardText">CREAR TARJETA</span>
        </button>
        <div class="hidden separator2 js_hiddenSection">
            <p class="cardText js_cardSuccess"></p>
            <a class="cardUrl js_cardUrl" href="" target="_blank"></a>
            <p class="twitterBtn js_twitterBtn"><i class="fa-brands fa-twitter twitterBird"></i><a href="" class="link js_link" target="_blank">Compartir en twitter</a></p>
        </div>
        
    </div>
</fieldset>

